services:
  web:
    image: coldtemplar478/guardian-app:${IMAGE_TAG:-latest}
    container_name: guardian-app
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    expose:
      - "3000"
    environment:
      - NODE_ENV=production
    deploy:
      resources:
        limits:
          memory: 256M
    networks:
      - rocalian-net

networks:
  rocalian-net:
    external: true
